extends layout

block content
  a(href="https://github.com/czechboy0/satellite")
    h1= title
  p What #[a(href="https://github.com/czechboy0/buildasaur") Buildasaur] uses for its build status badge.
